.App{
    min-height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    min-width: 50%;
    min-height: 300px;

    background-color: #f0f8ff;
    padding: 2rem;
    border-radius: 5px;
}

.countdown-container{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 20vh;
    gap: 1.6rem;

}